
@model List<ResultPhotoDtos>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;

}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Galareya bölməsi</h4>

                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlıq Adı</th>
                                    <th scope="col">Şəkil</th>
                                    
                                    <th scope="col">Sil</th>
                                    <th scope="col">Yenilə</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Title</td>
                                        <td>@item.PhotoUrl</td>
                                       

                                        <td><a href="/Photos/DeletePhoto/@item.PhotoId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Photos/UpdatePhotoForm/@item.PhotoId" class="btn btn-success">Yenilə</a></td>
                                    </tr>
                                }

                            </tbody>

                            <br />

                            <a href="/Photos/CreatePhotoForm" class="btn btn-info">Yeni Şəkil yarat</a>


                        </table>
                    </div>
                </div>


            </div>

        </div>

</section>


