<section id="stats" class="stats section dark-background">

    <img src="/yummy-red-1.0.0/assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.productcount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Məhsul sayı</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.reservationcount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Rezervasiya sayı</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.chefcount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Aşpaz sayı</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.totalguestcount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Ümumi Müştəri sayı</p>
                </div>
            </div>

        </div>

    </div>

</section>
