<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">
    @await Component.InvokeAsync("NavInline")
    <ul class="navbar-nav navbar-right">
       @await Component.InvokeAsync("NavMessageList")
       @await Component.InvokeAsync("NavNotification")
       @await Component.InvokeAsync("NavAccount")
    </ul>
</nav>
