@model CreateMessageDtos


<form asp-action="SendMessage" asp-controller="Messages" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
    <div class="row gy-4">

        <div class="col-md-6">
            <input type="text" asp-for="NameSurname"  class="form-control" placeholder="Ad Soyad" required="">
        </div>

        <div class="col-md-6 ">
            <input type="email" class="form-control" asp-for="Email" placeholder="Email Ünvan" required="">
        </div>

        <div class="col-md-12">
            <input type="text" class="form-control" asp-for="Subject" placeholder="Mövzu" required="">
        </div>

        <div class="col-md-12">
            <textarea class="form-control" asp-for="MessageDetails" rows="6" placeholder="Messaj" required=""></textarea>
        </div>

        <div class="col-md-12 text-center">
            <div class="loading">Yüklənir</div>
            <div class="error-message"></div>
            <div class="sent-message">Mesajınız göndərildi. Təşəkkür edirik!!</div>

            <button type="submit">Mesaj Göndər</button>
        </div>

    </div>
</form>
