@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;

}


<section class="section">
   @await Component.InvokeAsync("DashboardWidGet")
   @await Component.InvokeAsync("MainChart")
   
    
</section>



